# bloquer le push du DataScript.txt
# hogwarts-mystery-script-auto-clicker\DataScript\DataScript.txt
###############
# /hogwarts-mystery-script-auto-clicker/DataScript/DataScript.txt
# **/DataScript/DataScript.txt
# **/DataScript.txt
# hogwarts-mystery-script-auto-clicker/**/DataScript.txt
###############
