# bloquer le push de DataLog ################################
# hogwarts-mystery-script-auto-clicker\DataScript\DataLog   #
#                                                           #
# /hogwarts-mystery-script-auto-clicker/DataScript/DataLog  #
# **/DataScript/DataLog                                     #
# **/DataLog                                                #
# hogwarts-mystery-script-auto-clicker/**/DataLog           #
#############################################################

#                          #                                #

# bloquer le push de DataProg ###############################
# hogwarts-mystery-script-auto-clicker\DataScript\DataProg  #
#                                                           #
# /hogwarts-mystery-script-auto-clicker/DataScript/DataProg #
# **/DataScript/DataProg                                    #
# **/DataProg                                               #
# hogwarts-mystery-script-auto-clicker/**/DataProg          #
#############################################################
